.posts {
	width: 95%;
	height: 70vh;
	position: relative;

	box-sizing: border-box;

	padding: 0 0.5rem;
	margin: 0 auto;
	margin-top: 1rem;
	padding-bottom: 0.5rem;

	box-shadow: 0 0 5px 1px var(--box-shadow-color);
	border-radius: 8px;

	overflow-y: auto;
	scroll-snap-type: x mandatory;

	&::-webkit-scrollbar {
		display: none; // скрыть скроллбар
	}

	.more {
		position: absolute;
		right: 1rem;
		top: 1.3rem;
	}

	.user {
		display: flex;
		align-items: center;

		img {
			width: 45px;
			height: 45px;
		}

		p {
			display: flex;
			flex-direction: column;

			font-size: 14px;
			font-weight: 500;
			line-height: 20px;

			margin-left: 8px;

			span {
				font-weight: 300;
			}
		}
	}

	.postImage {
		width: 100%;

		display: block;
		margin: 0 auto;
	}

	.react {
		margin-top: 0.5rem;
		display: flex;
		justify-content: space-between;

		div {
			display: flex;
			align-items: center;
			gap: 7px;
		}
	}

	.postDescription {
		h3 {
			font-size: 16px;
			font-weight: 500;
			margin-bottom: 10px;
		}

		p {
			line-height: normal;
			font-size: 12px;
			margin-top: 0;
			margin-bottom: 2rem;
			// text-align: justify;
		}
	}
}
