.header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 3%;

	.crow {
		display: flex;
		align-items: center;
	}

	.addStory {
		width: 80px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	img {
		width: 98.5px;
		height: 30.5px;
	}
}

.stories {
	box-sizing: border-box;
	box-shadow: 0 0 5px 1px var(--box-shadow-color);
	border-radius: 8px;

	margin: 0 auto;
	margin-top: 0.5rem;
	padding: 8px 15px 8px 25px;
	width: 95%;

	display: flex;
	align-items: center;
	gap: 12px;

	overflow-x: auto;
	scroll-padding: 0 15px;
	scroll-snap-type: x mandatory;

	&::-webkit-scrollbar {
		display: none; // скрыть скроллбар
	}

	img {
		border: 1px solid var(--main-color);
		border-radius: 50%;
		padding: 0.5px;
	}

	img,
	.btnStories {
		width: 50px;
		height: 50px;
		flex-shrink: 0;
		scroll-snap-align: start;
	}

	.btnStories {
		background-color: var(--main-color);
		color: var(--btn-text-color);

		font-size: 40px;

		border: none;
		border-radius: 50%;

		display: flex;
		align-items: center;
		justify-content: center;

		cursor: pointer;
	}

	.spacer {
		width: 10px;
		flex-shrink: 0;
	}
}
