$background-color: #1e1e1e;
$text-color: #ffffff;
$main-color: #f97304;
$box-shadow-color: #00000077;
$btn-text-color: #1e1e1e;
$placeholder-color: rgba(255, 255, 255, 0.5);
$error-color: red;
$themeSwitcher-color: #023d67;
