$background-color: #ffffff;
$text-color: #023d67;
$main-color: #f97304;
$box-shadow-color: #0000001f;
$btn-text-color: #ffffff;
$placeholder-color: rgba(2, 61, 103, 0.5);
$error-color: red;
$themeSwitcher-color: #f97304;
