@use '@/styles/themes/themes';
@use '@/styles/adaptation';

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	/* color-scheme: light dark; */
	color: var(--text-color);
	background-color: var(--background-color);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	transition: background-color 0.3s ease-in-out;
}

body {
	margin: 0;
	box-sizing: border-box;
	height: 100vh;
	overflow: hidden;
}
